$dark: #000;
$yellow: #d0aa6b;
$primary: #d0aa6b;

$input-bg: $dark;
$input-color: $yellow;

$normal-margin-bottom: 25px;
$normal-margin-bottom-sm: 15px;

$navbar-text-color: #c9d6e4;
$navbar-text-size: 14px;
$navbar-bg-color: #384779;

$navbar-profile-size: 55px;
$navbar-profile-border-radius: 3px;
$navbar-profile-text-color: #657a94;

$card-header-height: 65px;
$card-border-radius: 10px;

$user-tbl-header-text-size: 14px;
$user-tbl-header-border-color: #485992;
$user-tbl-profile-size: 30px;

$crash-header-item-color-0: #2cc49d;
$crash-header-item-color-1: #ff7a99;
$crash-header-bg-color: #28335e;

$control-border-radius: 10px;
$control-padding-left-right: 15px;
$control-height: 60px;
$control-label-text-size: 16px;
$control-sup-text-color: #6c829d;

$chat-width: 360px;
$scrollbar-width: 15px;

$main-bg-color: #1e2742;